.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;	
	color: #000000;
}

.moneda {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: right;
}

.derechos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}

body {
	background-image: url(../images/fondo_blanco.png);
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
.boton1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	background-color: #999;
	border: 1px solid #FFFFFF;
}
.lbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #DFBB6F;
}
.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #06F;
	text-decoration: none;	
	text-align:center;	
}

a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #630;
}

.textbox_req {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #26393C;
	text-decoration: none;
	background-image:url(img/ico_requiredp.png);
	background-position:top right;
	background-repeat:no-repeat;
	padding-right:10px;
}



.link_little {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #633;
	text-decoration: none;
}
.link_little:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #600;
}
.fondo1 {
	background-color: #B7B7FF;
}
.selected_option {
	color: #FFFFFF;
	background-color: #0066FF;
}
.link_texto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #630;
	text-decoration: none;
}
.link_texto:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #D56A00;
}
.titulo_estacion_alerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.lblroja {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.titulo_frm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #630;
	text-decoration: none;
}

.coord {
	font-family: "Times New Roman", Times, serif;
	font-size: 5px;
	text-decoration: none;
}
.titulo_estacion_alerta_blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.lblazul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}
.lblnegra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.lblblanca {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.lblgris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #666;
	text-decoration: none;
}
.lblnaranja {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.lblsky {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #06F;
	text-decoration: none;
}
.key_nombreempleado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}
.key_nombrecontratista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}
.key_lblcierre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.lblverde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
}
.msg_error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

#toolTipBox {
       display: none;
       padding: 5;
       font-size: 14px;
       border: black solid 1px;
       font-family: verdana;
       position: absolute;
       background-color: #ffd038;
       color: 000000;
}
.statusconfirmado {
	color: #333333;
	background-color: #00CC33;
}
.statusrechazado {
	color: #333333;
	background-color: #FF9966;
}
.statuspendiente {
	color: #333333;
	background-color: #FFFF66;
}
.celdaresaltada{
	color: #333333;
	background-color: #FFFFCC;
}

.parrafo {
	background-color: #F0EAE3;
}

.rowpar{
	background:#F0EAE3;
}
.rowpar:hover{
	background-color: #FFE888;
}
.rowimpar{
	background:#FFFFFF;
}
.rowimpar:hover{
	background-color: #FFE888;
}
